{% extends 'root.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
<div class="galeryTitle PageTitle">
  <h1>{{item.title}}</h1>
</div>
<div class="MediaDetail PageBorder">
  <div class="MediaItem">
      {% if item and item.type_display == 'Video' %}
  <iframe id="existing-iframe-example" width="100%" height="100%" frameborder="0" allowfullscreen="True" src="{{item.url}}?enablejsapi=1">
    </iframe>
      {% else %}
      <iframe class="scPlayer" width="100%" height="100%" src="{{item.url}}"
        scrolling="no" frameborder="no"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
      {% endif %}
    <div class="itemDetail">
      <div><b>Author:</b> {{item.author}}</div>
      <div><b>Date:</b> {{item.date}}</div>
      <div><b>City:</b> {{item.city}}</div>
      <div><b>Country:</b> {{item.country}}</div>
      <div><b>Category:</b> {{item.category}}</div>
      <div><b>Type:</b> {{item.type_display}}</div>
    </div>
  </div>
  <div class="MediaClips">
    <div class="ClipList DetailWindow">
      <h3>Recomended Clips</h3>
      {% for clip in clips %}
      <div class="Clip">
        <div class="clipTitle">
          <h4>{{clip.name}}</h4>
          <p>Created by {{clip.username}}</p>
        </div>
         {% if item.type_display == 'Video' %}
        <button  id="play" type="button" onclick="submitLoadVideoByURL('{{ item.url }}', {{ clip.start }}, {{ clip.end }})" allowfullscreen="True" class="PlayButton LinkButton">
          <img src="{% static 'img/play.svg' %}" alt="Play button for clip">
        </button>
        {% else %}
              <button type="button" onclick="playClip({{ clip.start }}, {{ clip.end }})" allowfullscreen="True" class="PlayButton LinkButton">
          <img src="{% static 'img/play.svg' %}" alt="Play button for clip">
        </button>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if request.user.is_authenticated == True %}
      <div class="CreateClip DetailWindow">
        <h3>Create a Clip</h3>
        <form method="POST"> {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" class="btn btn-primary btn-block" value="Create"></p>
        </form>
      </div>
    {% endif %}
  </div>
</div>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('existing-iframe-example', {
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      function play(){
        player.playVideo();
      }

      function submitLoadVideoByURL(url, start, end) {
            player.loadVideoByUrl(
            {
                mediaContentUrl:url,
                startSeconds:start,
                endSeconds:end
            });
        }

      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          //setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }

        var iframe = document.querySelector('.scPlayer');
        var widget = SC.Widget(iframe);
        var clipTimer;
        function playClip(startTime, endTime){
            widget.play();
            clearTimeout(clipTimer);
            widget.seekTo(startTime*1000);
            clipTimer = setTimeout(pauseAudio, (endTime-startTime)*1000);
        }
        function pauseAudio(){
            widget.pause();
        }
    </script>

{% endblock %}
