{% extends 'root.html' %}
{% load static %}
{% block content %}
<div class="galeryTitle PageTitle">
  <h1>{{item.title}}</h1>
</div>
<div class="MediaDetail PageBorder">
  <div class="MediaItem">
    <iframe autoplay=1 width="100%" height="100%" frameborder="0" allowfullscreen="True" src="{{item.url}}">
    </iframe>
    <div class="itemDetail">
      <div><b>Author:</b> {{item.author}}</div>
      <div><b>Date:</b> {{item.date}}</div>
      <div><b>City:</b> {{item.city}}</div>
      <div><b>Country:</b> {{item.country}}</div>
      <div><b>Category:</b> {{item.category}}</div>
      <div><b>Type:</b> {{item.get_type_display}}</div>
    </div>
  </div>
  <div class="MediaClips">
    <div class="ClipList DetailWindow">
      <h3>Recomended Clips</h3>
      {% for clip in clips %}
      <div class="Clip">
        <div class="clipTitle">
          <h4>{{clip.name}}</h4>
          <p>Created by {{clip.user.username}}</p>
        </div>
        <button type="button" onclick="location.href = '{{ item.url }}?start={{ clip.start }}&end={{ clip.end    }}&autoplay=1'" allowfullscreen="True" class="PlayButton LinkButton">
          <img src="{% static 'img/play.svg' %}" alt="Play button for clip">
        </button>
      </div>
      {% endfor %}
    </div>
    {% if request.user.is_authenticated == True %}
      <div class="CreateClip DetailWindow">
        <h3>Create a Clip</h3>
        <form method="POST"> {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" class="btn btn-primary btn-block" value="Create"></p>
        </form>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
