{% extends 'root.html' %}

{% block content %}
<div class="searchBar">
  <h3>Search</h3>
  <form action="{% url 'media-search' %}" method="get">
    <div>
      <label for="mediaType">Type:</label>
      <select name="mediaType">
        <option value="B" {% if searchParams.type == 'B' %} selected {% endif %}>Audio/Video</option>
        <option value="A" {% if searchParams.type == 'A' %} selected {% endif %}>Audio</option>
        <option value="V" {% if searchParams.type == 'V' %} selected {% endif %}>Video</option>
      </select>
    </div>
    <div>
      <label for="category">Category:</label>
      <select name="category">
        <option value="" {% if searchParams.category == '' %} selected {% endif %}>All</option>
        {% for cat in categories %}
        <option value="{{cat.id}}" {% if searchParams.category == cat.id %} selected {% endif %}>{{cat.name}}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Search ">
  </form>
</div>
<div class="galeryTitle PageTitle">
  <h1>Gallery</h1>
</div>
<div class="mediaList PageBorder">
  {% for item in media %}
    <div class="MediaListItem">
      <iframe width="100%" height="100%" frameborder="0" allowfullscreen="True" src="{{item.url}}">
      </iframe>
      <h3 class="title">{{item.title}}</h3>
      <div class="itemDetail">
        <div><b>Author:</b> {{item.author}}</div>
        <div><b>Date:</b> {{item.date}}</div>
        <div><b>City:</b> {{item.city}}</div>
        <div><b>Country:</b> {{item.country}}</div>
        <div><b>Category:</b> {{item.category}}</div>
        <div><b>Type:</b> {{item.get_type_display}}</div>
      </div>
      <button type="button" name="seeClips"
      onclick="location.href = '{{ item.get_absolute_url }}'">
        <h3>Details</h3>
      </button>
    </div>
  {% endfor %}
</div>
{% endblock %}
