<header>
  <h1>Media-Tube</h1>
  {% if request.user.is_authenticated %}
    <div class="LogButtons">
      <a type="button" class="Signup LigthButton" href="{% url 'signup' %}">
        <h2>Sign Up</h2>
      </a>
      <a type="button" class="Login DarkButton" href="{% url 'login' %}">
        <h2>Log In</h2>
      </a>
    </div>
  {% endif %}
  {% if not request.user.is_authenticated %}
    <div class="UserInfo">
      <img src="{{ request.user.image }}" alt="{{ user.name }}'s image">
      <button type="button" class="Profile LigthButton">
        <h2>Profile</h2>
      </button>
      <a type="button" class="Logout DarkButton" href="{% url 'media-list' %}">
        <h2>Logout</h2>
      </a>
    </div>
  {% endif %}
</header>
