<header>
  <h1>Media-Tube</h1>
  {% if request.user.is_authenticated == False %}
    <div class="LogButtons">
      <button type="button" class="Signup LigthButton">
        <h2>Sign Up</h2>
      </button>
      <button type="button" class="Login DarkButton">
        <h2>Log In</h2>
      </button>
    </div>
  {% endif %}
  {% if request.user.is_authenticated == True %}
    <div class="UserInfo">
      <img src="{{ request.user.image }}" alt="{{ user.name }}'s image">
      <button type="button" class="Profile LigthButton">
        <h2>Profile</h2>
      </button>
      <button type="button" class="Logout DarkButton">
        <h2>Logout</h2>
      </button>
    </div>
  {% endif %}
</header>
