<header>
  <h1>Media-Tube</h1>
  {% if not request.user.is_authenticated %}
    <div class="LogButtons">
      <button type="button" class="Signup LigthButton" onclick="location.href = '{% url 'signup' %}'" >
        <h2>Sign Up</h2>
      </button>
      <button type="button" class="Login DarkButton" onclick="location.href = '{% url 'login' %}'">
        <h2>Log In</h2>
      </button>
    </div>
  {% else %}
    <div class="UserInfo">
      <img src="{{ request.user.photo.url }}" alt="{{ user.name }}'s image">
      <button type="button" class="Profile LigthButton" onclick="location.href = '{% url 'profile' %}'">
        <h2>Profile</h2>
      </button>
      <button type="button" class="Logout DarkButton" onclick="location.href = '{% url 'logout' %}'" >
        <h2>Logout</h2>
      </button>
    </div>
  {% endif %}
</header>
